<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" initial-scale="1">
    <meta name="description" content="">
    <meta name="author" content="BoSung Kim">
    <title>Hashtag Search Page</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="/css/articles/table-header.css" rel="stylesheet">
</head>

<body>

<header id="header">
    Header Part
    <hr>
</header>

<main class="container">
    <header class="py-5 text-center">
        <h1>Hashtags</h1>
    </header>

    <section class="row">
        <div id="hashtags" class="col-9 d-flex flex-wrap justify-content-evenly">
            <div class="p-2">
                <h2 class="text-center lh-lg font-monospace"><a href="#">#java</a></h2>
            </div>
        </div>
    </section>

    <hr>

    <table class="table" id="article-table">
        <thead>
        <tr>
            <th class="title col-6"><a>Title</a></th>
            <th class="content col-4"><a>Content</a></th>
            <th class="user-id"><a>User Id</a></th>
            <th class="created-at"><a>Created At</a></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="title"><a>First</a></td>
            <td class="content"><span class="d-inline-block text-truncate" style="max-width: 300px;">Content</span></td>
            <td class="user-id">Kim</td>
            <td class="created-at"><time>2023-05-08</time></td>
        </tr>
        <tr>
            <td>Second</td>
            <td>Content</td>
            <td>Kim</td>
            <td><time>2023-05-09</time></td>
        </tr>
        <tr>
            <td>Third</td>
            <td>Content</td>
            <td>Kim</td>
            <td><time>2023-05-10</time></td>
        </tr>
        </tbody>
    </table>

    <nav id="pagination" aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </nav>

</main>

<footer id="footer">
    <hr>
    Footer Part
</footer>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>